$primary: #B8CC24; // Grün für Logo, Flächen & andere Stilelemente (satt)
$primary-font:  #AAB622; // Grün für Schrift
$primary-background: #F0F4D9; // Grün für Flächen (sehr hell)

$secondary: #004B67; // Blau für Text & andere Stilelemente (satt, dunkel)

$border-1: #aaa;

$stress-0: #51A4B6;
$stress-1: #A2C8D3;
$stress-2: #FF6600;
