@import "./font_awesome_base_style.css";
@import "./font-awesome-icons.css";


$primary: #B8CC24; // Grün für Logo, Flächen & andere Stilelemente (satt)
$primary-font:  #AAB622; // Grün für Schrift
$primary-background: #F0F4D9; // Grün für Flächen (sehr hell)

$secondary: #004B67; // Blau für Text & andere Stilelemente (satt, dunkel)

$stress-0: #51A4B6;
$stress-1: #A2C8D3;
$stress-2: #FF6600;


body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

#radlobby-logo {
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index: 900;
}

#radlobby-logo img {
  padding: 5px;
  width: 100px;
}

@media (max-width: 600px) {
  #radlobby-logo img {
    width: 50px;
  }
}


h1,
h2,
h3,
h4 {
  font-family: 'Museo 500 Regular', sans-serif;
  color: $secondary;
}

h5,
a {
  color: $secondary;
}

h5,
p,
li {
  font-family: Roboto, arial, sans-serif;
}

h1 {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0.2em;
  color: $primary;
}

h3 {
  font-size: 115%;
}

h4 {
  font-size: 110%;
}

strong {
  font-weight: bold;
}

input {
  accent-color: $secondary;
}


a:hover {
  color: white !important;
  background-color: $primary !important;
}

ul.legend-leftified {
  padding-left: 0;
}

ul.legend li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

div.legend {
  width: 230px;
  height: 10px;
  border-radius: 5px;
}

div.legend-main {
  vertical-align: middle;
  background-color: #999;
}

div.legend-regional {
  background-color: #999;
  height: 4px;
}

div.legend-calm {
  background-color: $secondary;
}

div.legend-medium {
  background-color: $stress-1;
}

div.legend-stressful {
  background-color: $stress-2;
}

div.legend-oneway {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #999;
  margin-left: 10px;
  margin-right: 35px;
  border-radius: 0;
}

div.legend-unpaved {
  background: repeating-linear-gradient(90deg,
  #999 0,
  #999 20px,
  #fff 20px,
  #fff 30px);
}

div.legend-steep {
  height: 25px;
  background: repeating-linear-gradient(90deg,
  transparent 0,
  transparent 9px,
  #999 9px,
  #999 11px,
  transparent 11px,
  transparent 30px);
}

div.legend-container {
  display: grid;
  align-items: center;
}

div.legend-container div {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}

ul.legend li img {
  float: right;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
